body{
    padding: 0 25px;
    font-family: sans-serif;
}

main{
    margin-left: 40px;
    margin-right: 40px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(177, 176, 176);
    padding: 20px 10px 20px 20px;
}

.page-title{
    font-size: 1.5em;
    font-weight: bold;
}

.navbar{
    display: flex;
}

.nav-item{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-item:hover{
    background-color: gray;
    
}

.content{
    display: flex;
    justify-content: space-between;
    
}

.content-left{
    box-sizing: border-box;
    width: 50%;
    margin-right: 50px;
    flex-basis:60%;
    background-color: #EEF0F4;
}

.content-left span{
    color: rgb(150, 165, 183);
    text-align: center;
    font-style: italic;

}

.content-review{
    background-color: #40D3DC;
    display: flex;
    padding: 50px;
    margin-left: 100px;
    gap: 20px;
    
}

.name1{
    font-weight: bold;
    color: rgb(41, 50, 61);
}

.name2{
    font-style: italic;
    color: rgb(233, 236, 241);
}

.content-right{
    box-sizing: border-box;
    width: 50%;
    flex-basis: 40%;
    background-color: #EEF0F4;
}

.content-right-title{
    padding: 20px 50px 5px 70px;
    background: #EEF0F4;
}
.content-right-title p{
    color: rgb(153, 167, 185);
}

.content-title{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
.content-judul h1{
    font-family: sans-serif;
}

.content-title span{
    color: rgb(153, 167, 185);
    font-size: 18px;
}

.content-form{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0 70px;
    background: #EEF0F4;
}


.content-form label{
    padding-top: 25px;
    padding-bottom: 5px;
    font-weight: bold;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(41, 50, 61);
    color: white;
    padding: 15px;
    margin: 30px 100px 30px 0;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    font-weight: bold;
}

.button:hover{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.input-form{
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 5px;
    height: 30px;
}

.input-form::placeholder{
    color: lightslategray;
}

.select-form{
    margin-bottom: 10px;
    margin-right: 100px;
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 5px;
    height: 50px;
    color: #858383;
}

.image1{
    width: 100%;
}

.content-image{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #627fa2;
}

.circle{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    border-radius: 50%;
    width: 1.2em;
}

.slider{
	width:  650px;
	height: 400px;
	border-radius: 100px;
	overflow: hidden;
}
.slides{
	width: 500%;
	height: 400px;
	display: flex;
}
.slides input{
	display: none;

}
.slide{
	width: 20%;
	transition: 2s;
}
.slide img{
	width: 650px;
	height: 400px;
}

#radio1{
    opacity: 0;
}

#radio1{
    opacity: 0;
}


/*Auto Slider*/
.navigation-auto{
	position: absolute;
	display: flex;
	width: 650px;
	justify-content: center;
	margin-top: 360px;
}
.navigation-auto div{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #40D3DC;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

/*Manual Slider*/
.navigation-manual{
	position: absolute;
	width: 650px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #40D3DC;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
